<html>
  <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/Chart.js"></script>
  </head>
<body role="document">
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h2>Atlantic articles by {{fg.author()[0]['name']}} <a href="/byline/{{byline}}"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Feed-icon.svg/256px-Feed-icon.svg.png" width="24" /></a></h2>
			<p>{{fg.description()}}</p>
			
		</div>
	<div class="page-header"><h2>Latest Articles</h2></div>
        <canvas id="myChart" width="600" height="200"></canvas>
        <script language="Javascript" type="text/javascript">
	var data = {
	    labels: [{{','.join(labels)|safe}}],//["January", "February", "March", "April", "May", "June", "July"],
	    datasets: [
		{
		    label: "My First dataset",
		    fillColor: "rgba(220,220,220,0.5)",
		    strokeColor: "rgba(220,220,220,0.8)",
		    highlightFill: "rgba(220,220,220,0.75)",
		    highlightStroke: "rgba(220,220,220,1)",
		    data: [{{','.join(facebook)}}]
		},
		{
		    label: "My Second dataset",
		    fillColor: "rgba(151,187,205,0.5)",
		    strokeColor: "rgba(151,187,205,0.8)",
		    highlightFill: "rgba(151,187,205,0.75)",
		    highlightStroke: "rgba(151,187,205,1)",
		    data: [{{','.join(twitter)}}]
		}
	    ]
	};
	var ctx = $("#myChart").get(0).getContext("2d");
	// This will get the first returned node in the jQuery collection.
	new Chart(ctx).Bar(data, {
	    barShowStroke: false
	});
	
        </script>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>image</th>
				<th>title</th>
				<th>date</th>
				<th>twitter</th>
				<th>fb</th>
				<th>fb data</th>
			</tr>
		</thead>
	{% for article in articles %}
        <tr>
		<td><img src="{{article.image}}" width="100"/></td>
		<td><a target="new" href="{{article.url}}">{{article.title}}</a><br/><em>{{article.subtitle}}</em></td>
		<td>{{article.date.strftime('%b %d %Y')}}</td>
		<td>{{article.twitter}}</td>
		<td>{{article.facebook['data'][0]['total_count']}}</td>
		<td>{{article.facebook['data'][0]}}</td>
	</tr>
	{% endfor %}
	</table>
	</div>
</body>
</html>
